body{
    background-color: #EFD6AC;
    margin: 0;
    padding: 0;
    margin-top: 7%;
}

#logo{
    width: 7%;
}

.nav_button{
    text-decoration: none;
    color: #183A37;
    font-family: 'Fugaz One';
    font-weight: bold;
    transition: 0.3s ease-in-out;
    font-size: 200%;
}

.nav_button:hover{
    color: #C44900;
}
 
header {
    position: fixed;
    z-index: 1000;
    background-color: #EFD6AC;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    column-gap: 50px;
    align-items: center;
  }

hr.style-one {
    border: 0;
    height: 3px;
    background: #333;
    background-image: linear-gradient(to right, #efd6ac, #183a37, #efd6ac);
}

#contact_page{
    display: flex;
    justify-content: center;
    align-items: start;
}

#contact_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

}

#contact_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

}

.section_heading{
    text-decoration: underline;
    color: #183A37;
    font-family: 'Fugaz One';
    font-weight: bold;
    font-size: 300%;
}

.social_icon {
    width: 10%;
    margin: 20px;
    transition: all 0.2s ease-in-out;
}

.social_icon:hover{
    transform: scale(1.1);
}

#social_icons{
    display: flex;
    justify-content: center;
}

.footer{
    display: flex;
    justify-content: center;
}

.label_and_content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.label{
    margin-right: 10px;
    color: #183A37;
    font-family: 'Fugaz One';
    font-weight: bold;
}

.contact_detail{
    color: #183A37;
    font-family: 'Fugaz One';
}

#credits{
    justify-items: start;
}

.credit{
    text-decoration: none;
    font-family: 'Fugaz One';
    font-size: 12px;
    color: #183A37;
}

.img_link{
    display: contents;
}

#contact_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.contact_input{
    width: 40%;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid #183A37;
    font-family: "Fugaz One";
}

#message{
    height: 100px;
}

.button{
    border-radius: 10px;
    font-family: "Fugaz One";
    font-size: 18px;
    background-color: #183A37;
    color: white;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    margin: 20px;
}

.button:hover{
    transform: scale(1.1);
}

#home{
    background-image: url('imgs/Bicycle mechanic.jpg');
    height: 400px;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
}